
.accordion-item-detalles{
    flex-direction: row;
    display: flex;
    width: 100%;
}

.flex-2 {
    flex: 2
}

.flex-3{
    flex: 3;
}

.flex-center{
    display: flex;
    align-items: center;
}

.cell.nombre{
    flex: 8;
    padding: 0 2%;
}

h4, span{
    font-family: 'Open Sans Condensed', sans-serif;
}

.cell.play,.cell.play-in-spotify{
    flex: 1;
}

.sm-click-img {
    max-width: 2.5vw;
}

.accordion-item-title {
    display: flex;
    flex-direction: row;
}

.accordion-item-title > img {
    height: 2.5vw; /*TODO: Mobile 5VW, Desktop 2.5vw*/
}

.accordion-item-name{
    padding: 0 1em;
}

.accordion-item-descripcion{
}

.play-random{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
}

#busqueda{
    /*TODO - en desktop darle paddding y width de 80%*/
}